@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    box-shadow: $property;
}

$color-base: #860839;
$color-second: #0b123c;
$color-third: #dbbd87;

@keyframes slide-in-top {
    0% {
        @include transform(translateY(10px));
        opacity: 0;
    }
    50% {
        @include transform(translateY(10px));
        opacity: 0;
    }
    100% {
        @include transform(translateY(0px));
        opacity: 1;
    }
  }

body {

    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.wraper {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin-top: 3em;
}

$elements: 4;
.content {
    margin: 1em auto;
    padding: 0 10px;
    width: 20em;

    @for $i from 0 to $elements {
        &:nth-child(#{$i}) {
            $j: ($i+0.5)/5; // faire varier le premier chiffre pour le delai en chaque anim et le dernier pour la vitesse globale
            animation: slide-in-top $j+s ease-in;
        }
    }
}

.intro-select{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    transition: ease-out all .4s;
    &:hover{
        @include transform(translateY(-3px));
    }
    i.fas{
        color: $color-base;
    }
}
/*
** All btn and link
*/
button {
    border: none;
    border-radius: 15px;
    &:hover{
        cursor: pointer;
    }
  }
  .btn {
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    text-decoration: none;
    background: $color-base;
    transition: ease-out all .3s;
    color: #fff;
    font-size: 1.5em;
    margin: 1em auto;
    &:hover{
        background: darken($color-base, 10%);
    }
  }
  .btn-light{
      background: none;
      color: $color-base;
      &:hover{
          background: none;
          font-weight: bold;
      }
  }
  /*.btn-add:hover{cursor: not-allowed;}*/
  .btn-close {
    background: red;
    color: #fff;
    &:hover{
        background: darken(red, 30%);
    }
  }


#feedback {
    text-align: center;
    transition: ease-in 0.1s all;
}

.noOpacity {
    opacity: 0;
}

.comming-soon {
    //opacity: .5;
    cursor: not-allowed;
    &:after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        @include transform(translateX(-100%));
        background: rgba(255,255,255,.5);
    }
}

input {
  margin-bottom: 2em;
  width: 95%;
}

footer p {
  text-align: center;
  font-size: 0.8em;
}
